

.navbar {
  background-color: #E3AA75;
}

.img-fluid {
    min-width: 100%;
    height: auto;
  }

  .footer {
    display: flex;
    background-color:#662c05;
    font-size: small;
    text-align: center;
}





h1 {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


@media (min-width: 600px) {
  .footer {
      width: 100%;
      margin-bottom: 10px;
  }
}

/* reference for code for responsive footer [https://reintech.io/blog/creating-responsive-footer-with-css]*/
/* Media queries for logo on navbar */
/* For mobile screensizes /*
/* For tablet screensizes /*
/* For desktop screensizes /*



