

.navbar {
  background-color: #ffeada;
}

  .footer {
    color: #E3AA75;
    display: flex;
    align-self: auto;
    background-color:#662c05;
    font-size: large;
    text-align: center;
}










@media (min-width: 600px) {
  .footer {
      width: 100%;
      margin-bottom: 10px;
  }
}

/* reference for code for responsive footer [https://reintech.io/blog/creating-responsive-footer-with-css]*/
/* Media queries for logo on navbar */
/* For mobile screensizes /*
/* For tablet screensizes /*
/* For desktop screensizes /*



